#include "roBa_L.keymap"
#include "boards/shields/Test/roBa_R.overlay"

// トラックボールの設定(overlay)
&trackball {
    //automouse-layer = <MOUSE>;
    scroll-layers = <MAR SCR>;
    // snipe-layers = <3>;
    //arro
    //    layers = <FUNCTIONS_AND_CONTROLS>;
    //    bindings =
    //        <&kp RIGHT_ARROW>,
    //        <&kp LEFT_ARROW>,
    //        <&kp UP_ARROW>,
    //        <&kp DOWN_ARROW>;
    //    tick = <10>;
    //};
    mouse {
        layers = <MOV>;
        bindings =
            <&mkp MB5>,
            <&mkp MB4>,
            <&mkp MB3>,
            <&none>;
        tick = <300>;
    };
    virtual_desplays {
        layers = <LOW>;
        bindings =
            <&kp RIGHT_ARROW>,
            <&kp LEFT_ARROW>,
            <&kp UP_ARROW>,
            <&kp DOWN_ARROW>;
        tick = <100>;
        wait-ms = <500>;
        tap-ms = <500>;
    };
    virtual_desplay {
        layers = <RAI>;
        bindings =
            <&LCG_R>,
            <&LCG_L>,
            <&kp LG(TAB)>,
            <&none>;
        tick = <500>;
    };
    //move_application {
    //    layers = <RAI>;
    //    bindings =
    //        <&kp LC(TAB)>,
    //        <&kp LS(LC(TAB))>,
    //        <&LCA_TAB>,
    //        <&kp LG(D)>;
    //    tick = <10>;
    //};
    volume {
        layers = <SET>;
        bindings =
            <&kp C_VOL_UP>,
            <&kp C_VOL_DN>,
            <&kp C_MUTE>,
            <&none>;
        tick = <200>;
        wait-ms = <800>;
        tap-ms = <800>;
    };
};
