
#include "roBa_L.keymap"
#include "boards/shields/Test/roBa_R.overlay"

// トラックボールの設定(overlay)
&trackball {
    automouse-layer = <AMO>;
    scroll-layers = <RAI2 MAC2 SCR>;
    // snipe-layers = <3>;
};
